body {
  padding-top: 70px;
  padding-bottom: 30px;
  text-align: center;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

iframe
{
	display: none;
}
button
{
	margin-top: 20px;
}
h4
{
	margin-bottom: 20px;
}